.footerImg {
    width:50px;
}
.footerHead {
    font-size: .6em;
    margin-bottom: 4px;
}
.footerItem {
    font-size: .6em;
}

.footerItem:hover {
    text-decoration: underline;
    color: #4282ad;
}